*{
	/*outline: 1px solid red;*/
}
.header{
	padding-top: 2%;
	width: 100%;
	border-bottom:1px solid #666666; 
	background-color: white;
}
.logoHolder{
	text-align: center;
	margin: auto;
}
.logo{
	height: auto;
	text-align: center;
}
.logo img{
	width: auto;
	height: auto;
	max-width: 100%;
}

.member{
	text-align: right;
}

.introList{
	font-size: 0;
	text-align: center;
	margin-top: 1%;
}
.introList div p{
	width: 45%;
	display: inline-block;
	font-size: 14px;
}
.introList div p a{
	text-decoration: none;
	color: black;
}
.introList div p a:hover{
	color: #33CCFF;
}

.searchBar{
	padding: 0 5% 0;
}
#indexSearch{
	background-image: url(../websiteImg/indexSearch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	color: rgba(0,0,0,0);
}
.classList_container{
	margin-top: 2%;
	text-align: center;
}
.classList li{
	margin-top: 1%;
	border: 1px solid black;
	display: inline-block;
	width: auto;
	min-width: 8%;
	padding: 0% 1% 0%;
	cursor: pointer;
	color: black;
}
.classList li:hover{
	background-color: #FF8800;
	border: 1px solid #FF8800;
	color: white;
}
.collect_holder{
	font-size: 0;
	margin-top: 2%;
}
.collect_holder:hover{
	transform: scale(1.02, 1.02);
	border: 2px solid #AAAAAA;
}
.collect_holder div{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.collect_holder div:nth-child(1){
	width: 20%
}
.collect_holder div:nth-child(1) img{
	width: 100%;
	height: auto;
}
.collect_holder div:nth-child(2){
	width: 70%;
	padding-left: 3%;
	font-size: 16px;
	cursor: pointer;
}
.collect_holder div:nth-child(3){
	text-align: center;
	width: 10%;
	height: auto;
	border-left: 1px solid black;
	box-sizing: border-box;
}
.collect_holder div:nth-child(3) img{
	width:50%;
	height: auto;
}